.center.hero-unit
  %h1 Welcome to Cash Tracker!

  %h2 This web app will track your cash earnings and spendings, delivering data-driven actionable insights.
  = link_to "Log in with Facebook", "/auth/facebook", class: "btn btn-large btn-primary"

